{"openapi":"3.0.0","info":{"version":"1.0.0","title":"Brellium","description":"API for base Brellium functionality.","termsOfService":"https://brellium.com/terms","contact":{"name":"Brellium Team","email":"support@brellium.com","url":"http://brellium.com"}},"servers":[{"url":"https://api.brellium.com/v1"}],"paths":{"/auth":{"post":{"summary":"Authenticate user","requestBody":{"description":"Credentials.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Authenticate"}}}},"responses":{"200":{"description":"A bearer token is returned that can be used for authenticated API requests.","content":{"application/json":{"schema":{"description":"Bearer token.","type":"object","items":{"$ref":"#/components/schemas/Authenticate"}}}}}}}},"/documents":{"post":{"summary":"Upload a document","requestBody":{"description":"Document to upload.","required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"PDF, JSON, YML, CSV, or TXT file. Maximum file size: 10 MB."},"metadata":{"type":"object","description":"Optional metadata object.","additionalProperties":true}},"required":["file"]}}}},"responses":{"201":{"description":"Document created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadDocumentResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/documents/upload-url":{"post":{"summary":"Get a presigned URL to upload a large document","requestBody":{"description":"Document to upload.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlRequest"}}}},"responses":{"201":{"description":"Upload URL created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadUrlResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/documents-multiple":{"post":{"summary":"Upload multiple documents for the same audit","requestBody":{"description":"Documents to upload.","required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"files":{"type":"array","items":{"type":"string","format":"binary"},"description":"PDF, JSON, YML, or TXT files. Maximum individual file size: 10 MB."},"metadata":{"type":"object","description":"Optional metadata object.","additionalProperties":true}},"required":["files"]}}}},"responses":{"201":{"description":"Documents created.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UploadMultipleDocumentsResponse"}}}}},"security":[{"bearerAuth":[]}]}},"/documents/{document_id}":{"get":{"summary":"Get information about a specific document","parameters":[{"name":"document_id","in":"path","required":true,"schema":{"type":"string","description":"Document id."}}],"responses":{"200":{"description":"Document information.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Document"}}}}},"security":[{"bearerAuth":[]}]}},"/audits":{"post":{"summary":"List audits based on filter criteria","requestBody":{"description":"Filter to retrieve audits with.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditFilter"}}}},"responses":{"200":{"description":"List of audits. The structure of the returned audits depends on the 'verbose', 'includeDisplayInfo', and 'includePeople' flags in the request. If 'verbose' is true, full audit details are returned (Audit schema). If 'verbose' is false, a reduced audit object is returned (AuditInfo schema). If 'includeDisplayInfo' and 'includePeople' are true, the returned audits will include display info and people respectively. Both 'verbose' and one of the other two flags can be used together.","content":{"application/json":{"schema":{"oneOf":[{"description":"Array of full audits with display info and/or people.","type":"array","items":{"$ref":"#/components/schemas/AuditWithDisplayAndPeople"}},{"description":"Array of full audits.","type":"array","items":{"$ref":"#/components/schemas/Audit"}},{"description":"Array of reduced audit objects.","type":"array","items":{"$ref":"#/components/schemas/AuditInfo"}}]}}}}},"security":[{"bearerAuth":[]}]}},"/audits/{audit_id}":{"get":{"summary":"Get information about a specific audit","parameters":[{"name":"audit_id","in":"path","required":true,"schema":{"type":"string","description":"Audit id."}},{"name":"includeDisplayInfo","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include display info in the response."},{"name":"includePeople","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include people information in the response."},{"name":"includeQuestionIds","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include question ids in the response."},{"name":"includeLastReviewed","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include last reviewed timestamp in the response - N/A if never reviewed."}],"responses":{"200":{"description":"Audit information, optionally including responses, display info, and people.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuditWithDisplayAndPeople"}}}}},"security":[{"bearerAuth":[]}]}},"/coding":{"post":{"summary":"List coding evaluations based on filter criteria","requestBody":{"description":"Filter to retrieve coding evaluations with.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodingEvalFilter"}}}},"responses":{"200":{"description":"List of coding evaluations. The structure of the returned coding evaluations depends on the 'verbose', 'includeDisplayInfo', 'includePeople', and 'includeQuestionIds' flags in the request. If 'verbose' is true, full coding evaluation details are returned (Coding Evaluation schema). If 'verbose' is false, a reduced coding evaluation object is returned (CodingEvaluationInfo schema). If 'includeDisplayInfo' and 'includePeople' are true, the returned audits will include display info and people respectively. If 'includeQuestionIds' is true, the returned additional criteria responses will include question ids. Both 'verbose' and the other flags can be used together.","content":{"application/json":{"schema":{"oneOf":[{"description":"Array of full coding evaluations with display info, people, and additional criteria responses.","type":"array","items":{"$ref":"#/components/schemas/CodingEvalWithDisplayInfoPeopleResponses"}},{"description":"Array of full coding evaluations.","type":"array","items":{"$ref":"#/components/schemas/CodingEval"}},{"description":"Array of reduced coding evaluation objects.","type":"array","items":{"$ref":"#/components/schemas/CodingEvalInfo"}}]}}}}},"security":[{"bearerAuth":[]}]}},"/coding/{coding_eval_id}":{"get":{"summary":"Get information about a specific coding evaluation","parameters":[{"name":"coding_eval_id","in":"path","required":true,"schema":{"type":"string","description":"Coding evaluation id."}},{"name":"includeDisplayInfo","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include display info in the response."},{"name":"includePeople","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include people information in the response."},{"name":"includeResponses","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include additional criteria responses in the response."},{"name":"includeQuestionIds","in":"query","required":false,"schema":{"type":"string","enum":["true","false"]},"description":"Include question ids in the response."}],"responses":{"200":{"description":"Coding evaluation information, optionally including display info, people, and additional criteria responses.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CodingEvalWithDisplayInfoPeopleResponses"}}}}},"security":[{"bearerAuth":[]}]}},"/users":{"post":{"summary":"Create a new user","requestBody":{"description":"User information.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","description":"User's email address."},"name":{"type":"string","description":"User's name."},"metadata":{"type":"object","description":"Additional metadata for the user."},"attributes":{"type":"object","description":"User attributes."}},"required":["email"]}}}},"responses":{"200":{"description":"User created successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."},"500":{"description":"Server error."}},"security":[{"bearerAuth":[]}]},"get":{"summary":"Get all users for organization","responses":{"200":{"description":"List of users.","content":{"application/json":{"schema":{"type":"object","properties":{"users":{"type":"array","items":{"type":"object","properties":{"user_id":{"type":"string","description":"User id."},"org_id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string","description":"User's email address."},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"metadata":{"type":"object"},"attributes":{"type":"object"}}}}}}}}},"401":{"description":"Unauthorized."}},"security":[{"bearerAuth":[]}]}},"/users/{user_id}":{"get":{"summary":"Get a specific user","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"User id."}}],"responses":{"200":{"description":"User information.","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"object","properties":{"user_id":{"type":"string","description":"User id."},"org_id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string","description":"User's email address."},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"metadata":{"type":"object"},"attributes":{"type":"object"}}}}}}}},"401":{"description":"Unauthorized."},"404":{"description":"User not found."}},"security":[{"bearerAuth":[]}]},"post":{"summary":"Update a user","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"User id."}}],"requestBody":{"description":"Updated user information.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"email":{"type":"string","description":"User's email address."},"metadata":{"type":"object"},"attributes":{"type":"object"}}}}}},"responses":{"200":{"description":"Updated user information.","content":{"application/json":{"schema":{"type":"object","properties":{"user":{"type":"object","properties":{"user_id":{"type":"string","description":"User id."},"org_id":{"type":"string"},"name":{"type":"string"},"email":{"type":"string","description":"User's email address."},"created_at":{"type":"string","format":"date-time"},"updated_at":{"type":"string","format":"date-time"},"metadata":{"type":"object"},"attributes":{"type":"object"}}}}}}}},"400":{"description":"Invalid request."},"401":{"description":"Unauthorized."},"404":{"description":"User not found."}},"security":[{"bearerAuth":[]}]},"delete":{"summary":"Delete a user","parameters":[{"name":"user_id","in":"path","required":true,"schema":{"type":"string","description":"User id."}}],"responses":{"200":{"description":"User deleted successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"}}}}}},"400":{"description":"Delete failed."},"401":{"description":"Unauthorized."},"404":{"description":"User not found."},"500":{"description":"Server error."}},"security":[{"bearerAuth":[]}]}},"/question-sets":{"get":{"summary":"List question sets","responses":{"200":{"description":"List of question sets.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/QuestionSet"}}}}}},"security":[{"bearerAuth":[]}]}},"/update-audits-flags":{"post":{"summary":"Update flags for a list of audits","requestBody":{"description":"Either provide a list of audit IDs to update ['audit_id1', 'audit_id2'] or a filter to update all audits that match the filter {'session_id' : 'session_id_value'}.","required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"audit_ids":{"type":"array","items":{"type":"string"},"description":"List of audit IDs to update e.g. ['audit_id1', 'audit_id2']."},"filter":{"type":"object","description":"Filter criteria for selecting audits to update e.g. {'session_id' : 'session_id_value'}."},"flags":{"type":"array","items":{"type":"string"},"description":"List of flags to set on the audits e.g. ['flag1', 'flag2']."}},"required":["flags"]}}}},"responses":{"200":{"description":"Audits updated successfully.","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string"},"updated_audit_ids":{"type":"array","items":{"type":"string"}}}}}}}},"security":[{"bearerAuth":[]}]}},"/link-providers":{"post":{"summary":"Link providers to their email using a CSV upload","requestBody":{"description":"CSV file containing people data. The CSV must have the following headers: 'first_name', 'last_name', 'email'.","required":true,"content":{"multipart/form-data":{"schema":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"Upload a single CSV file."}},"required":["file"]}}}},"responses":{"200":{"description":"Result of provider linking operation.","content":{"application/json":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/ProviderLinkingResult"}}}}}},"security":[{"bearerAuth":[]}]}}},"components":{"schemas":{"Authenticate":{"type":"object","properties":{"client_id":{"type":"string","description":"Client ID."},"client_secret":{"type":"string","description":"Client secret.","format":"password"},"responses":{"type":"object","properties":{"access_token":{"type":"string","description":"Bearer token used for API access."}},"required":["access_token"]}}},"UploadDocumentRequest":{"type":"object","properties":{"file":{"type":"string","format":"binary","description":"PDF, JSON, YML, or TXT file. Maximum file size: 10 MB."}},"required":["file"]},"UploadDocumentResponse":{"type":"object","properties":{"document_id":{"type":"string","description":"Document id of uploaded document."}},"required":["document_id"]},"UploadUrlRequest":{"type":"object","properties":{"filename":{"type":"string","description":"Name of the file to upload."},"doc_type":{"type":"string","description":"Optional document type."},"metadata":{"type":"object","description":"Optional metadata object.","additionalProperties":true}},"required":["filename"]},"UploadUrlResponse":{"type":"object","properties":{"document_id":{"type":"string","description":"ID of the uploaded document."},"presigned_url":{"type":"string","description":"Short-lived URL to upload the file to."}},"required":["document_id","presigned_url"]},"UploadMultipleDocumentsResponse":{"type":"object","properties":{"document_ids":{"type":"array","items":{"type":"string"},"description":"IDs of uploaded documents."}},"required":["document_ids"]},"Document":{"type":"object","properties":{"document_id":{"type":"string","description":"Document id."},"org_id":{"type":"string","description":"Organization id."},"filename":{"type":"string","description":"Document filename."},"status":{"type":"string","enum":["todo","in_progress","error","complete"],"description":"Processing status of the document."},"handler":{"type":"string","description":"Handler used for the document."},"audit_created":{"type":"boolean","description":"Flag indicating whether an audit has been created for the document."},"needs_audit":{"type":"boolean","description":"Flag indicating whether the document requires an audit (set by handler)."},"external_metadata":{"type":"object","additionalProperties":true,"description":"JSON metadata associated with the document."}}},"AuditFilter":{"type":"object","properties":{"verbose":{"type":"string","enum":["true","false"],"description":"Controls the level of detail in the response.","nullable":true},"status":{"type":"array","items":{"type":"string","enum":["todo","processing","in_progress","error","complete"]},"description":"Audit statuses to include.","nullable":true},"set_id":{"type":"string","description":"Question set id."},"documents":{"type":"array","items":{"type":"string"},"description":"Document ids that the audits were made for.","nullable":true},"sessionStartDate":{"type":"string","format":"date-time","description":"Start date of the session in ISO format.","nullable":true},"sessionEndDate":{"type":"string","format":"date-time","description":"End date of the session in ISO format.","nullable":true},"auditStartDate":{"type":"string","format":"date-time","description":"Start date of the audit in ISO format.","nullable":true},"auditEndDate":{"type":"string","format":"date-time","description":"End date of the audit in ISO format.","nullable":true},"scoreLowerBound":{"type":"number","format":"float","minimum":0,"maximum":100,"description":"Lower bound for the audit score.","nullable":true},"scoreUpperBound":{"type":"number","format":"float","minimum":0,"maximum":100,"description":"Upper bound for the audit score.","nullable":true},"lastUpdatedStartDate":{"type":"string","format":"date-time","description":"Start date of the audit's latest update in ISO format.","nullable":true},"lastUpdatedEndDate":{"type":"string","format":"date-time","description":"End date of the audit's latest update in ISO format.","nullable":true},"page":{"type":"integer","minimum":1,"description":"Page number.","nullable":true},"pageSize":{"type":"integer","minimum":1,"maximum":1000,"description":"Number of audits per page.","nullable":true},"includeDisplayInfo":{"type":"string","enum":["true","false"],"description":"Include display info.","nullable":true},"includePeople":{"type":"string","enum":["true","false"],"description":"Include people.","nullable":true},"includeTestAudits":{"type":"string","enum":["true","false"],"description":"If true only test audits are returned, if false or null only non-test audits are returned.","nullable":true},"includeQuestionIds":{"type":"string","enum":["true","false"],"description":"Include question ids in the response.","nullable":true},"includeLastReviewed":{"type":"string","enum":["true","false"],"description":"Include last reviewed timestamp in the response - N/A if never reviewed.","nullable":true},"flags":{"type":"array","items":{"type":"string"},"description":"Flags to filter by.","nullable":true}}},"CodingEvalFilter":{"type":"object","properties":{"verbose":{"type":"string","enum":["true","false"],"description":"Controls the level of detail in the response.","nullable":true},"status":{"type":"array","items":{"type":"string","enum":["todo","processing","in_progress","error","awaiting_audit","complete"]},"description":"Audit statuses to include.","nullable":true},"documents":{"type":"array","items":{"type":"string"},"description":"Document ids that the audits were made for.","nullable":true},"sessionStartDate":{"type":"string","format":"date-time","description":"Start date of the session in ISO format.","nullable":true},"sessionEndDate":{"type":"string","format":"date-time","description":"End date of the session in ISO format.","nullable":true},"evalStartDate":{"type":"string","format":"date-time","description":"Start date of the audit in ISO format.","nullable":true},"evalEndDate":{"type":"string","format":"date-time","description":"End date of the audit in ISO format.","nullable":true},"emScoreLowerBound":{"type":"number","format":"float","minimum":0,"maximum":100,"description":"Lower bound for the E/M evaluation score.","nullable":true},"emScoreUpperBound":{"type":"number","format":"float","minimum":0,"maximum":100,"description":"Upper bound for the E/M evaluation score.","nullable":true},"cptCodes":{"type":"array","items":{"type":"string"},"description":"Submitted CPT codes.","nullable":true},"recommendedCptCodes":{"type":"array","items":{"type":"string"},"description":"Recommended CPT codes.","nullable":true},"problemsLevel":{"type":"string","enum":["straightforward","low","moderate","high"],"description":"Problems level.","nullable":true},"dataLevel":{"type":"string","enum":["straightforward","low","moderate","high"],"description":"Data level.","nullable":true},"riskLevel":{"type":"string","enum":["straightforward","low","moderate","high"],"description":"Risk level.","nullable":true},"mdmLevel":{"type":"string","enum":["straightforward","low","moderate","high"],"description":"Level of medical decision making.","nullable":true},"timeBased":{"type":"string","enum":["true","false"],"description":"Whether the E/M code recommendation is time-based.","nullable":true},"baseCodeAligned":{"type":"string","enum":["true","false"],"description":"Whether the base E/M code recommendation is aligned with the submitted base code.","nullable":true},"addOnCodesAligned":{"type":"string","enum":["true","false"],"description":"Whether the add-on codes recommendation is aligned with submitted add-on codes.","nullable":true},"upcoded":{"type":"string","enum":["true","false"],"description":"Whether upcoding was detected.","nullable":true},"downcoded":{"type":"string","enum":["true","false"],"description":"Whether downcoding was detected.","nullable":true},"icdScoreLowerBound":{"type":"number","format":"float","minimum":0,"maximum":100,"description":"Lower bound for the ICD evaluation score.","nullable":true},"icdScoreUpperBound":{"type":"number","format":"float","minimum":0,"maximum":100,"description":"Upper bound for the ICD evaluation score.","nullable":true},"icdCodes":{"type":"array","items":{"type":"string"},"description":"Array of ICD codes.","nullable":true},"hccCodes":{"type":"array","items":{"type":"string"},"description":"Array of HCC codes.","nullable":true},"lastUpdatedStartDate":{"type":"string","format":"date-time","description":"Start date of the coding evaluation's latest update in ISO format.","nullable":true},"lastUpdatedEndDate":{"type":"string","format":"date-time","description":"End date of the coding evaluation's latest update in ISO format.","nullable":true},"page":{"type":"integer","minimum":1,"description":"Page number.","nullable":true},"pageSize":{"type":"integer","minimum":1,"maximum":1000,"description":"Number of audits per page.","nullable":true},"includeDisplayInfo":{"type":"string","enum":["true","false"],"description":"Include display info.","nullable":true},"includePeople":{"type":"string","enum":["true","false"],"description":"Include people.","nullable":true},"includeQuestionIds":{"type":"string","enum":["true","false"],"description":"Include question ids in the response.","nullable":true}}},"AuditInfo":{"type":"object","properties":{"audit_id":{"type":"string","description":"Audit id."},"status":{"type":"string","enum":["todo","processing","in_progress","error","complete"],"description":"Current status of the audit."},"timestamp":{"type":"string","format":"date-time","description":"When the audit was created."}}},"Audit":{"type":"object","properties":{"audit_id":{"type":"string","description":"Audit id."},"status":{"type":"string","enum":["todo","in_progress","error","complete"],"description":"The status of the audit."},"score":{"type":"number","format":"float","description":"The score of the audit."},"flags":{"type":"array","items":{"type":"string"},"description":"The flags on the audit."},"reviewed_by":{"type":"string","description":"The email of the reviewer."},"set_id":{"type":"string","description":"Id of question set used for the audit."},"timestamp":{"type":"string","format":"date-time","description":"When the audit was created."},"responses":{"type":"array","items":{"type":"object","properties":{"response_id":{"type":"string","description":"Response id."},"query":{"type":"string","description":"The criteria question."},"answer":{"type":"string","enum":["Yes","N/A","No"],"description":"The answer to the question."},"context":{"type":"string","description":"The context for the answer."}},"required":["query","answer","context"]},"description":"The responses the audit is comprised of."}}},"AuditWithDisplayAndPeople":{"type":"object","properties":{"audit_id":{"type":"string","description":"Audit id."},"status":{"type":"string","enum":["todo","in_progress","error","complete"],"description":"The status of the audit."},"score":{"type":"number","format":"float","description":"The score of the audit."},"flags":{"type":"array","items":{"type":"string"},"description":"The flags on the audit."},"reviewed_by":{"type":"string","description":"The email of the reviewer."},"set_id":{"type":"string","description":"Id of question set used for the audit."},"timestamp":{"type":"string","format":"date-time","description":"When the audit was created."},"responses":{"type":"array","items":{"type":"object","properties":{"response_id":{"type":"string","description":"Response id."},"query":{"type":"string","description":"The criteria question."},"answer":{"type":"string","enum":["Yes","N/A","No"],"description":"The answer to the question."},"context":{"type":"string","description":"The context for the answer."}},"required":["query","answer","context"]},"description":"The responses the audit is comprised of."},"display_info":{"type":"array","items":{"type":"object","description":"Additional display information for the audit.","properties":{"key":{"type":"string","description":"Internal key for the display info item."},"order":{"type":"integer","description":"Order in which the item should be displayed."},"title":{"type":"string","description":"Title of the display info item."},"value":{"type":"string","description":"Value of the display info item."},"format":{"type":"string","description":"Format of the value (e.g., 'text')."},"filter_type":{"type":"string","description":"Type of filter to be applied (e.g., 'search')."}},"required":["key","order","title","value","format","filter_type"],"example":{"key":"episode_id","order":1,"title":"Episode ID","value":"12341234","format":"text","filter_type":"search"}}},"people":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"Internal key for the display info item."},"order":{"type":"integer","description":"Order in which the person should be displayed."},"title":{"type":"string","description":"Title or role of the person."},"value":{"type":"string","description":"Name or identifier of the person."},"format":{"type":"string","description":"Format of the value (e.g., 'text')."},"filter_type":{"type":"string","description":"Type of filter to be applied (e.g., 'people')."}},"required":["key","order","title","value","format","filter_type"],"example":{"key":"RN","order":1,"title":"RN","value":"John Doe RN","format":"text","filter_type":"people"}},"description":"Information about people associated with the audit."},"documents":{"type":"array","items":{"type":"string","description":"Document id."},"description":"The documents in the audit."},"people_emails":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string","description":"The person's title or role."},"name":{"type":"string","description":"The person's name."},"email":{"type":"string","description":"The person's email, if found."}}},"description":"The emails of the people in the audit."}}},"CodingEvalWithDisplayInfoPeopleResponses":{"type":"object","properties":{"coding_eval_id":{"type":"string"},"status":{"type":"string"},"reviewed_by":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"em_eval":{"oneOf":[{"type":"object","properties":{"em_eval_id":{"type":"string"},"score":{"type":"number","format":"float"},"flags":{"type":"array","items":{"type":"string"}},"base_code_aligned":{"type":"boolean"},"add_on_codes_aligned":{"type":"boolean"},"problems_level":{"type":"string"},"data_level":{"type":"string"},"risk_level":{"type":"string"},"mdm_level":{"type":"string"},"time_based":{"type":"boolean"},"encounter_time_minutes":{"type":"integer"},"upcoded":{"type":"boolean"},"downcoded":{"type":"boolean"},"submitted_base_code":{"type":"string"},"submitted_add_on_codes":{"type":"array","items":{"type":"string"}},"recommended_base_code":{"type":"string"},"recommended_add_on_codes":{"type":"array","items":{"type":"string"}},"problems":{"type":"array","items":{"type":"object","properties":{"problem_id":{"type":"string"},"category":{"type":"string"},"description":{"type":"string"}}}},"data":{"type":"array","items":{"type":"object","properties":{"data_id":{"type":"string"},"category":{"type":"string"},"description":{"type":"string"}}}},"risk":{"type":"array","items":{"type":"object","properties":{"risk_id":{"type":"string"},"category":{"type":"string"},"description":{"type":"string"}}}}},"title":"Codable"},{"type":"object","properties":{"em_eval_id":{"type":"string"},"coding_status":{"type":"string","enum":["uncodable"],"description":"Present only when coding module is unable to code the chart. Absent for normally coded charts."},"uncodable_reason":{"type":"string","enum":["no_problem_identified","visit_type_indeterminate"],"description":"Only present when coding_status is 'uncodable'. 'no_problem_identified' = documentation lacks at least one addressable medical problem required to meet minimum code requirements. 'visit_type_indeterminate' = documentation doesn't indicate whether the patient is new or established, so a code series cannot be selected."},"encounter_time_minutes":{"type":"integer"},"flags":{"type":"array","items":{"type":"string"}}},"title":"Uncodable"}]},"icd_eval":{"type":"object","properties":{"icd_eval_id":{"type":"string"},"score":{"type":"number","format":"float"},"flags":{"type":"array","items":{"type":"string"}},"icd_codes":{"type":"array","items":{"type":"object","properties":{"icd_code":{"type":"string"},"hcc_code":{"type":"string"},"hcc_model_name":{"type":"string"},"criteria":{"type":"array","items":{"type":"object","properties":{"icd_criteria_id":{"type":"string"},"criteria_name":{"type":"string"},"criteria_context":{"type":"string"},"is_criteria_met":{"type":"boolean"}}}}}}}}},"responses":{"type":"array","items":{"type":"object","properties":{"question_id":{"type":"string"},"response_id":{"type":"string"},"query":{"type":"string"},"answer":{"type":"string"},"context":{"type":"string"}},"required":["query","answer","context"]}},"display_info":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"order":{"type":"string"},"title":{"type":"string"},"value":{"type":"string"},"format":{"type":"string"},"filter_type":{"type":"string"}},"required":["key","order","title","value","format","filter_type"]}},"people":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string"},"order":{"type":"string"},"title":{"type":"string"},"value":{"type":"string"},"format":{"type":"string"},"filter_type":{"type":"string"}},"required":["key","order","title","value","format","filter_type"]}},"documents":{"type":"array","items":{"type":"string"}},"people_emails":{"type":"array","items":{"type":"object","properties":{"title":{"type":"string"},"name":{"type":"string"},"email":{"type":"string"}}}}}},"CodingEval":{"type":"object","properties":{"coding_eval_id":{"type":"string"},"status":{"type":"string"},"reviewed_by":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"em_eval":{"oneOf":[{"type":"object","properties":{"em_eval_id":{"type":"string"},"score":{"type":"number","format":"float"},"flags":{"type":"array","items":{"type":"string"}},"base_code_aligned":{"type":"boolean"},"add_on_codes_aligned":{"type":"boolean"},"problems_level":{"type":"string"},"data_level":{"type":"string"},"risk_level":{"type":"string"},"mdm_level":{"type":"string"},"time_based":{"type":"boolean"},"encounter_time_minutes":{"type":"integer"},"upcoded":{"type":"boolean"},"downcoded":{"type":"boolean"},"submitted_base_code":{"type":"string"},"submitted_add_on_codes":{"type":"array","items":{"type":"string"}},"recommended_base_code":{"type":"string"},"recommended_add_on_codes":{"type":"array","items":{"type":"string"}},"problems":{"type":"array","items":{"type":"object","properties":{"problem_id":{"type":"string"},"category":{"type":"string"},"description":{"type":"string"}}}},"data":{"type":"array","items":{"type":"object","properties":{"data_id":{"type":"string"},"category":{"type":"string"},"description":{"type":"string"}}}},"risk":{"type":"array","items":{"type":"object","properties":{"risk_id":{"type":"string"},"category":{"type":"string"},"description":{"type":"string"}}}}},"title":"Codable"},{"type":"object","properties":{"em_eval_id":{"type":"string"},"coding_status":{"type":"string","enum":["uncodable"],"description":"Present only when coding module is unable to code the chart. Absent for normally coded charts."},"uncodable_reason":{"type":"string","enum":["no_problem_identified","visit_type_indeterminate"],"description":"Only present when coding_status is 'uncodable'. 'no_problem_identified' = documentation lacks at least one addressable medical problem required to meet minimum code requirements. 'visit_type_indeterminate' = documentation doesn't indicate whether the patient is new or established, so a code series cannot be selected."},"encounter_time_minutes":{"type":"integer"},"flags":{"type":"array","items":{"type":"string"}}},"title":"Uncodable"}]},"icd_eval":{"type":"object","properties":{"icd_eval_id":{"type":"string"},"score":{"type":"number","format":"float"},"flags":{"type":"array","items":{"type":"string"}},"icd_codes":{"type":"array","items":{"type":"object","properties":{"icd_code":{"type":"string"},"hcc_code":{"type":"string"},"hcc_model_name":{"type":"string"},"criteria":{"type":"array","items":{"type":"object","properties":{"icd_criteria_id":{"type":"string"},"criteria_name":{"type":"string"},"criteria_context":{"type":"string"},"is_criteria_met":{"type":"boolean"}}}}}}}}},"responses":{"type":"array","items":{"type":"object","properties":{"response_id":{"type":"string"},"query":{"type":"string"},"answer":{"type":"string"},"context":{"type":"string"}},"required":["query","answer","context"]}},"documents":{"type":"array","items":{"type":"string"}}}},"CodingEvalInfo":{"type":"object","properties":{"coding_eval_id":{"type":"string"},"status":{"type":"string"},"timestamp":{"type":"string","format":"date-time"},"em_eval":{"oneOf":[{"type":"object","properties":{"em_eval_id":{"type":"string"},"base_code_aligned":{"type":"boolean"},"add_on_codes_aligned":{"type":"boolean"},"problems_level":{"type":"string"},"data_level":{"type":"string"},"risk_level":{"type":"string"},"mdm_level":{"type":"string"},"time_based":{"type":"boolean"},"encounter_time_minutes":{"type":"integer"},"upcoded":{"type":"boolean"},"downcoded":{"type":"boolean"},"submitted_base_code":{"type":"string"},"submitted_add_on_codes":{"type":"array","items":{"type":"string"}},"recommended_base_code":{"type":"string"},"recommended_add_on_codes":{"type":"array","items":{"type":"string"}}},"title":"Codable"},{"type":"object","properties":{"em_eval_id":{"type":"string"},"coding_status":{"type":"string","enum":["uncodable"],"description":"Present only when coding module is unable to code the chart. Absent for normally coded charts."},"uncodable_reason":{"type":"string","enum":["no_problem_identified","visit_type_indeterminate"],"description":"Only present when coding_status is 'uncodable'. 'no_problem_identified' = documentation lacks at least one addressable medical problem required to meet minimum code requirements. 'visit_type_indeterminate' = documentation doesn't indicate whether the patient is new or established, so a code series cannot be selected."},"encounter_time_minutes":{"type":"integer"}},"title":"Uncodable"}]},"icd_eval":{"type":"object","properties":{"icd_eval_id":{"type":"string"},"icd_codes":{"type":"array","items":{"type":"object","properties":{"icd_code":{"type":"string"},"hcc_code":{"type":"string"},"hcc_model_name":{"type":"string"}}}}}}}},"QuestionSet":{"type":"object","properties":{"set_id":{"type":"string","description":"Question set id."},"name":{"type":"string","description":"Name of set."},"questions":{"type":"array","items":{"type":"object","properties":{"question_id":{"type":"string","description":"Question id."},"query":{"type":"string","description":"The query to be ran on the document."},"question_type":{"type":"string","description":"The type of question: default question determine chart quality and affect the audit score, informational questions provide clinical context but do not affect the audit score."},"severity":{"type":"string","description":"Low, normal, high questions determine how heavily the question is weighted in the audit score: critical questions will cause the audit to fail if answered negatively; points penalty questions will cause the specified number of points to be deducted from the audit score; none questions do not affect the audit score."},"remediation":{"type":"string","description":"The remediation for the question."},"affirmation":{"type":"string","description":"The affirmation for the question."}},"required":["question_id","query"]},"description":"The questions in the set."}},"required":["set_id","questions"]},"ProviderLinkingResult":{"type":"object","properties":{"status":{"type":"string","enum":["created","updated","skipped"]},"name":{"type":"string"},"email":{"type":"string"},"reason":{"type":"string"}},"required":["status","name","email"]}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}}}}